@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-destaque: #ED145B;
    --cor-gradiente-preto: linear-gradient(113deg, #000 0%, #1E2021 44.96%, #1E2022 100%);
}

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 21px 18px 21px;
    background: var(--cor-gradiente-preto);
    height: 100vh;
    flex-direction: column;
}


.container {
    display: flex;
    width: 65rem;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    overflow: hidden;
}no index apagar todas as perguntas e substituir por:
no index apagar todas as perguntas e substituir por:

 <section id="container">
            <!-- <article class="cartao">
                <div class="cartao__conteudo">
                    <h3>Programação</h3>
                    <div class="cartao__conteudo__pergunta">
                        <p>O que é JavaScript?</p>
                    </div>
                    <div class="cartao__conteudo__resposta">
                        <p>O JavaScript é uma linguagem de programação</p>
                    </div>
                </div>
            </article> -->
        </section>


em perguntas.js colocar ‘ como no exemplo abaixo:

criaCartao(
    'Programação',
    'O que é Python?',
    'O Python é uma linguagem de programação'
)



 <section id="container">
            <!-- <article class="cartao">
                <div class="cartao__conteudo">
                    <h3>Programação</h3>
                    <div class="cartao__conteudo__pergunta">
                        <p>O que é JavaScript?</p>
                    </div>
                    <div class="cartao__conteudo__resposta">
                        <p>O JavaScript é uma linguagem de programação</p>
                    </div>
                </div>
            </article> -->
        </section>


em perguntas.js colocar ‘ como no exemplo abaixo:

criaCartao(
    'Programação',
    'O que é Python?',
    'O Python é uma linguagem de programação'
)




h1 {
    color: var(--cor-destaque);
    text-align: center;
    font-size: 2.8rem;
    font-weight: 600;
    text-transform: uppercase;
}
no index apagar todas as perguntas e substituir por:

 <section id="container">
            <!-- <article class="cartao">
                <div class="cartao__conteudo">
                    <h3>Programação</h3>
                    <div class="cartao__conteudo__pergunta">no index apagar todas as perguntas e substituir por:

 <section id="container">
            <!-- <article class="cartao">
                <div class="cartao__conteudo">
                    <h3>Programação</h3>
                    <div class="cartao__conteudo__pergunta">
                        <p>O que é JavaScript?</p>
                    </div>
                    <div class="cartao__conteudo__resposta">
                        <p>O JavaScript é uma linguagem de programação</p>
                    </div>
                </div>
            </article> -->
        </section>


em perguntas.js colocar ‘ como no exemplo abaixo:

criaCartao(
    'Programação',
    'O que é Python?',
    'O Python é uma linguagem de programação'
)



                        <p>O que é JavaScript?</p>
                    </div>
                    <div class="cartao__conteudo__resposta">
                        <p>O JavaScript é uma linguagem de programação</p>
                    </div>
                </div>
            </article> -->
        </section>


em perguntas.js colocar ‘ como no exemplo abaixo:

criaCartao(
    'Programação',
    'O que é Python?',
    'O Python é uma linguagem de programação'
)



#entrada-de-texto {
    display: flex;
    height: 12rem;
    padding: 1.4rem 2.5rem 2.5rem 2.5rem;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    border-radius: 0.625rem;
    background: #FFF;
    font-size: 2rem;
}

#entrada-de-texto::placeholder {
    color: #828282;
    font-size: 2rem;
    font-weight: 400;
    line-height: normal;
}

#botao-palavrachave {
    display: flex;
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.5rem;
    border: none;
    background: var(--cor-destaque);
    color: #000;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: normal;
}

#resultado-palavrachave {
    display: flex;
    border-radius: 0.625rem;
    align-self: stretch;
    color: var(--cor-destaque);
    font-size: 2.5rem;
    justify-content: center;
    margin-bottom: 2rem;
    max-width: 100%;
    max-height: 50vh;
    overflow: auto;
}